@charset "utf-8";
body{color:#5E5E5E;font-family:Tahoma,Helvetica,Arial,'宋体',sans-serif;font-size:12px;}
.mains{width: 1080px;margin:15px auto;overflow:hidden;}
.mains .contant{height:auto;overflow:hidden;margin:15px 0;}
em{font-style:normal;}
.fl{float:left;}
.mains a{color:#5E5E5E;text-decoration:none;}
.foot.white_bg{width:920px;overflow:hidden;padding:10px15px;margin:0auto}
.foot.xd_info{width:920px;overflow:hidden;clear:both;padding-bottom:10px;border-bottom:1px dotted #ccc}
.foot .xd_infodiv{float:left}
.foot .xd_info div ulli{line-height:25px;background:url(/jky/w/img/global/doc.jpg) no-repeat left;padding-left:10px}
.foot .xd_info lia{line-height:20px;color:#666}
.foot .xd_info li a:hover{text-decoration:none;color:#f50}
.foot .xd_info.tit{font-size:20px;color:#666;line-height:30px;font-family:"微软雅黑","宋体";border-bottom:#e2e2e2 solid 1px;padding-left:3px;background:none}
.foot .xd_info .menu,.foot .xd_info .about,.foot .xd_info .follow,.foot .xd_info.hezuo{/* width:120px; */padding:0px0px 0px 40px;}
.foot .xd_info.help{width:120px;padding:00 0 40px}
.foot .xd_info.refer{width:121px;height:121px;float:right;margin:0px40px 0px 0px;_margin-right:20px}
.foot .xd_info.refer_top{background:url("/jky/w/img/global/global_refer_bg.gif") no-repeat 0px top;height:4px;width:121px}
.foot .xd_info.refer_bottom{background:url("/jky/w/img/global/global_refer_bg.gif") no-repeat 0px bottom;height:4px;width:121px}
.foot .xd_info.refer_contain{background:#FFFBE6;height:auto;overflow:hidden;width:121px;padding:10px0px}
.foot .xd_info .refer.refer_btn{clear:both;display:block;background:url(/jky/w/img/global_total.gif) no-repeat 0 -141px;width:103px;height:27px;margin-left:10px;_margin-left:5px}
.foot .xd_info .referp{text-align:center;padding:5px5px;margin:05px 5px;line-height:18px;border-bottom:1px solid #ddd}
.foot .xd_info .refer pspan{color:#999}
.foot .xd_info .refer.write{background:url(/jky/w/img/global_total.gif) no-repeat -105px -181px;margin-left:18px;padding-left:18px;color:#060}
.foot.links{width:900px;height:15px;overflow:hidden;margin-bottom:10px;padding:10px10px;border-bottom:1px dotted #ccc;color:#999;white-space:nowrap;overflow:hidden}
.foot .linksspan{display:block;overflow:hidden;float:left}
.foot .links.links_list_box{float:left;width:780px;height:15px;overflow:hidden;position:relative}
.foot .links.links_list{overflow:hidden;width:780px;white-space:nowrap;overflow:hidden;position:relative}
.foot .links .links_listli{width:780px;height:15px;white-space:nowrap;overflow:hidden;position:relative;margin-bottom:5px}
.foot .links.more{float:right}
.foot .links a.more:hover{color:#f50}
.foot .linksa{color:#999}
.foot .links .links_list lia{margin-right:10px}
.foot .logo,.foot.miibeian{color:#999;text-align:center}
.foot.miibeian{padding-bottom:10px;padding-top:10px}
.foot .logoimg{margin-right:10px}
.foot.f_miibeian{margin:0auto;width:980px;text-align:center;color:#888;font-size:12px}
.foot .f_miibeiana{color:#888;text-decoration:none}
.foot .f_miibeian a:hover{color:#ff6c01}
.foot .bottom_logoa{background:url(/jky/w/img/global/bottom_logo.gif) no-repeat;height:58px;width:140px;display:block;margin:20px70px}
html,htmlbody{_background:url(/jky/w/css/about:blank) #fff;_background-attachment:fixed}
.back_top{height:48px;width:48px;right:10px;bottom:10px;position:fixed;display:none;_position:absolute;_bottom:auto;_right:10px;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-67))}
.back_topa{background:url(/jky/w/img/global/backtop.gif) no-repeat scroll 0 0 transparent;display:block;height:48px;width:48px;font-size:0px}
.back_top a:hover{background:url(/jky/w/img/global/backtop.gif) no-repeat scroll -54px 0 transparent}
.collect_index{width:48px;height:48px;position:fixed;bottom:67px;right:10px;display:block;_bottom:auto;_right:10px;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-100))}
.collect_indexa{width:48px;height:48px;display:block;background:url("/jky/w/img/global/collect.gif") no-repeat}
.collect_index a:hover{background-position:-54px 0}
.collect_index_totop{bottom:77px;_bottom:auto;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-100))}

.piece.white_bg{padding:10px0px;width:980px;overflow:hidden}
.piece_border{background:url("/jky/w/img/global/global_border.gif") repeat-x scroll 0 0 transparent;clear:both;height:2px;margin-left:5px;margin-right:5px;overflow:hidden;width:980px}
.white_top,.white_bottom{height:5px;overflow:hidden}
.white_top_left,.white_top_right,.white_bottom_left,.white_bottom_right{height:5px;width:5px;float:left;background:url(/jky/w/img/global_white_radius.gif) no-repeat 0 0}
.white_top_right{background-position:-5px 0}
.white_bottom_left{background-position:0px -5px}
.white_bottom_right{background-position:-5px -5px}
.white_top_middle,.white_bottom_middle{height:5px;width: 1080px;background-color:#fff;float:left;}
.white_bg{height:auto;background-color:#fff}
.head .nav .navigation.fortify{float:right;z-index:50;height:100%;z-index:9800}
.head .nav .navigation .fortifya{color:#fff;background:url(/jky/w/img/global/global_total.gif) no-repeat right -355px;padding:0px10px}
.head .nav .navigation .fortify a:hover{text-decoration:underline}
.head .nav .navigation .fortify.k{background:url(/jky/w/img/global/global_total.gif) no-repeat -1px -116px;height:23px;width:91px;padding:0;margin-top:7px;position:relative}
.head .nav .navigation .fortify .k:hover{background:url(/jky/w/img/global/global_total.gif) no-repeat -1px -116px;height:23px;width:91px}
.head .nav .navigation .fortify .kb{border-color:#666 #f1ed78 #f4e76d;border-style:solid;border-width:4px;font-size:0;height:0;line-height:0;position:absolute;right:6px;top:9px;width:0}
.head .nav .navigation .fortify.kefu{width:89px;border:#fead45 solid 1px;border-top:none;position:absolute;top:30px;right:2px;z-index:9800000;background:#fffceb;display:none}
.head .nav .navigation .fortify .kefuli{height:25px;line-height:24px;border-bottom:#d8d8d8 dashed 1px;background:none}
.head .nav .navigation .fortify .kefu.online{border-bottom:none}
.head .nav .navigation .fortify .kefu.timeli{margin-top:-5px}
.head .nav .navigation .fortify .kefu.last{border-bottom:none}
.head .nav .navigation .fortify .kefu lip{height:22px;line-height:22px;font-size:12px;width:90px;text-align:center;color:#999}
.head .nav .navigation .fortify .kefu lia{height:25px;line-height:25px;font-size:12px;color:#5e5e5e;display:block;position:relative;font-weight:normal}
.head .nav .navigation .fortify .kefu li a:hover{text-decoration:none;background:none}
.head .nav .navigation .fortify .kefu li ai{background:url(/jky/w/img/global/global_total.gif) no-repeat -119px -166px;position:absolute;display:block;height:13px;width:13px;top:8px;left:8px}
.head .nav .navigation .fortify .kefu .online ai{background-position:-119px -166px}
.head .nav .navigation .fortify .kefu .online a.gray{background:url(/jky/w/img/global/gray.gif) no-repeat;width:15px;top:8px}
.head .nav .navigation .fortify .kefu li a.bangzhu{background-position:-119px -179px;height:16px;width:15px;top:6px;top:4px \9}
.head .nav .navigation .fortify .kefu li a.xinlang{background-position:-118px -215px;width:16px;height:16px;top:6px;top:4px \9}
.head .nav .navigation .fortify .kefu li a.tengxun{background-position:-118px -197px;width:16px;height:16px;top:6px;top:4px \9}
.head .nav .navigation .fortify .kefu li aspan{margin-left:18px}
.head .nav .navigation .fortify .kefu li a:hover{color:#ff6c01}
.page{padding:10px0;margin-top:0px;margin-bottom:15px;clear:both;overflow:visible;text-align:center;position:relative}
.page.pageNav{height:50px;overflow:hidden;padding-top:50px;margin:0auto}
.page a,.page span,.pagei{border:1pxsolid #ccc;background:none repeat scroll 0 0 #FFF;padding:5px10px;overflow:hidden;color:#cf4429;font-size:12px;font-weight:bold;border-right:none;-moz-box-shadow:3px 1px 3px #CCC;-webkit-box-shadow:3px 1px 3px #CCC;box-shadow:3px 1px 3px #CCC;display:block;float:left}
.page a:hover{text-decoration:none;color:#FF6701}
.pagespan{background:#e6e6e6;color:#808080;font-weight:bold}
.pagei{border:none;background:none;padding:03px}
.page .i_left,.page.pg_next{border-right:#ccc solid 1px}
.page.pg_next{position:relative;overflow:visible;width:60px;_height:24px;_line-height:24px;_padding:0px}
.page .pg_nextem{background:url(/jky/w/img/global/page_pic.gif) no-repeat;height:71px;width:170px;position:absolute;top:-52px;right:-110px}
.page .pg-prev{color:#bbb;font-weight:normal;background:none repeat scroll 0 0 #FFF;width:60px;_height:24px;_line-height:24px;_padding:0px}
.page.pg_n_normal{color:#bbb;font-weight:normal;background:none repeat scroll 0 0#fff;width:60px;_height:24px;_line-height:24px;_padding:0px}
.content_01{padding-bottom:10px;padding-top:10px}
.content_01span{color:#f66b05;font-size:16px;padding-left:20px;font-weight:bold}
.content_01ul{padding-left:20px;font-size:14px;padding-top:5px}
.content_01 ulli{line-height:25px}
.content_01p{font-size:14px;padding-left:20px;color:#f66b05;padding-bottom:5px;padding-top:5px}
.content_01a{color:#f66b05}
.piece{margin-top:15px}
.piece.white_bg{padding:10px 0px;width:980px;overflow:hidden}
.main.page{margin-bottom:0px;float:right}
.zhe_page{width: 1080px;overflow:hidden;height:auto;background:#fff;}
.zhe_page.z_p_goodshow{width:700px;height:auto;overflow:hidden;margin-right:15px;float:left}
.zhe_page .z_p_goodshow .white_top_middle,.zhe_page .z_p_goodshow.white_bottom_middle{width:690px}
.zhe_page .z_p_goodshow.white_bg{width:700px;overflow:hidden}
.z_p_goodshow.z_p_goodinfo{width:700px;overflow:hidden;height:auto;clear:both}
.z_p_goodinfo.z_p_goodinfo_tit{width:660px;height:auto;clear:both;overflow:hidden;margin:10px 20px;_margin-left:10px;font-size:20px;color:#000;line-height:30px}
.z_p_goodinfo.z_p_goodinfo_content{width:290px;height:350px;float:left;margin:020px 0px;_margin-left:10px;_margin-right:5px;margin-top:0px;position:relative}
.z_p_goodinfo .z_p_goodinfo_content.price_tag{background:url("/jky/w/img/view_total.gif") no-repeat 0 -292px transparent;color:#FFF;font-size:44px;height:60px;left:-15px;line-height:60px;padding-left:30px;position:relative;width:275px}
.z_p_goodinfo .z_p_goodinfo_content .price_tagi{color:#FFF;font-family:arial,sans-serif;font-style:normal;font-size:30px}
.z_p_goodinfo .z_p_goodinfo_content .price_tagspan{color:#FFF;font-size:28px}
.z_p_goodinfo .z_p_goodinfo_content .price_taga{display:block;height:45px;position:absolute;right:13px;top:8px;width:83px;background:url("/jky/w/img/view_total.gif") no-repeat -1px -371px transparent}
.z_p_goodinfo .z_p_goodinfo_content .price_tag_enda{background:url("/jky/w/img/view_total.gif") no-repeat -105px -371px transparent}
.z_p_goodinfo .z_p_goodinfo_content .price_tag_waita{background:url("/jky/w/img/view_total.gif") no-repeat -214px -230px transparent}
.z_p_goodinfo .z_p_goodinfo_content .price_tag_sellouta{background:url("/jky/w/img/view_total.gif") no-repeat -209px -371px transparent}
.z_p_goodinfo .z_p_goodinfo_content.price_all{height:75px;width:290px;overflow:hidden;margin-top:20px}
.z_p_goodinfo .z_p_goodinfo_content .price_all .price_all_l,.z_p_goodinfo .z_p_goodinfo_content .price_all.price_all_r{height:75px;width:10px;background:url("/jky/w/img/view_total.gif") no-repeat -55px 0px transparent;float:left}
.z_p_goodinfo .z_p_goodinfo_content .price_all.price_all_r{background:url("/jky/w/img/view_total.gif") no-repeat -65px 0px transparent}
.z_p_goodinfo .z_p_goodinfo_content .price_all.price_all_m{height:75px;width:270px;background-color:#FFF8B9;float:left}
.z_p_goodinfo .z_p_goodinfo_content .price_all .price_all_mp{font-size:14px;line-height:25px;padding-top:12px;height:50px;width:90px;text-align:center;float:left;color:#000}
.z_p_goodinfo .z_p_goodinfo_content.time_left{margin-top:20px;width:290px;overflow:hidden;clear:both}
.z_p_goodinfo .z_p_goodinfo_content .time_leftp{width:290px;clear:both;line-height:44px}
.z_p_goodinfo .z_p_goodinfo_content .time_left span,.z_p_goodinfo .z_p_goodinfo_content .time_leftem{display:block;float:left;line-height:44px;margin:03px}
.z_p_goodinfo .z_p_goodinfo_content .time_leftem{line-height:26px;margin:0px}
.z_p_goodinfo .z_p_goodinfo_content .time_lefti{color:#0F9A00;display:block;float:left;font-size:30px;line-height:34px;font-style:normal}
.z_p_goodinfo .z_p_goodinfo_content .time_lefti.ms{background:url("/jky/w/img/icon/micro_second2.gif") no-repeat scroll 0 0 transparent;height:24px;margin:6px0 0 3px;width:32px}
.z_p_goodinfo .z_p_goodinfo_content.share_to{margin-top:10px;overflow:hidden}
.z_p_goodinfo .z_p_goodinfo_content .share_tospan.fl{line-height:24px}
.z_p_goodinfo .z_p_goodinfo_content .share_toa{margin-right:3px}
.z_p_goodinfo .z_p_goodinfo_content .good_care.good_care_num{width:290px;margin:15px0px 10px;overflow:hidden;padding-left:-10px}
.z_p_goodinfo .z_p_goodinfo_content .good_care .good_care_numspan{line-height:36px}
.z_p_goodinfo .z_p_goodinfo_content .good_care .good_care_num .flb{font-size:24px;font-weight:normal;line-height:30px;float:left;background:url("/jky/w/img/view_total.gif") no-repeat scroll -277px 0px transparent;padding-left:34px;padding-right:5px}
.z_p_goodinfo .z_p_goodinfo_content .good_care.good_care_pic{width:290px;clear:both}
.z_p_goodinfo .z_p_goodinfo_content .good_care .good_care_pica{margin-right:1px}
.z_p_goodinfo .z_p_goodinfo_content .good_care .good_care_picimg{width:24px;height:24px}
.z_p_goodinfo.z_p_goodinfo_pic{width:350px;height:350px;float:left;position:relative}
.z_p_goodinfo .z_p_goodinfo_picimg{width:350px;height:350px}
.z_p_goodinfo .z_p_goodinfo_picem{background:url("/jky/w/img/view_total.gif") no-repeat scroll 0px -160px transparent;display:block;height:55px;left:0;position:absolute;top:0;width:51px}
.z_p_goodshow.z_p_gooddesc{width:700px;overflow:hidden;height:auto;clear:both}
.z_p_goodshow .z_p_gooddesc a:hover{text-decoration:none}
.z_p_gooddesc.z_p_gooddesc_sort{margin:0pxauto 0px;width:660px;height:30px;clear:both;border-bottom:2px solid #FF7626}
.z_p_gooddesc .z_p_gooddesc_sorta.s_a{display:block;font-size:14px;width:87px;height:30px;text-align:center;line-height:30px;float:left;color:#000}
.z_p_gooddesc .z_p_gooddesc_sort a.s_a:hover{color:#f50;font-weight:bold}
.z_p_gooddesc .z_p_gooddesc_sorta.current{background:url(/jky/w/img/view_total.gif) no-repeat -94px -47px;color:#fff;font-weight:bold}
.z_p_gooddesc .z_p_gooddesc_sort a.current:hover{color:#fff}
.z_p_gooddesc.z_p_gooddesc_contain{margin:15pxauto 15px;width:660px;height:auto;overflow:hidden;clear:both}
.z_p_gooddesc .z_p_gooddesc_contain.z_p_gooddesc_comment{height:auto;overflow:hidden}
.z_p_gooddesc .z_p_gooddesc_contain.z_p_gooddesc_text{width:660px;height:auto;overflow:hidden;clear:both;line-height:20px;border-bottom:1px dotted #ccc;padding-bottom:20px;margin-bottom:20px}
.z_p_gooddesc .z_p_gooddesc_contain .z_p_gooddesc_texta{margin-right:3px}
.z_p_gooddesc .z_p_gooddesc_contain .z_p_gooddesc_textimg{width:20px;height:20px;margin-right:3px;float:left;overflow:hidden}
.z_p_gooddesc .z_p_gooddesc_contain.z_p_gooddesc_pic{width:660px;height:auto;overflow:hidden;clear:both;border-bottom:1px dotted #ccc;padding-bottom:20px;margin-bottom:20px}
.z_p_gooddesc .z_p_gooddesc_contain .z_p_gooddesc_picimg{margin:0px15px 10px 0px}
.z_p_gooddesc .z_p_gooddesc_containh3{margin-bottom:10px;font-size:12px}
.z_p_gooddesc .z_p_gooddesc_contain h3 a:hover{cursor:text}
.z_p_gooddesc .z_p_gooddesc_contain.z_p_gooddesc_but{width:660px;height:37px;overflow:hidden;clear:both;margin:10pxauto 10px}
.z_p_gooddesc .z_p_gooddesc_contain .z_p_gooddesc_buta{width:169px;height:37px;display:block;margin:0pxauto;background:url(/jky/w/img/view_total.gif) no-repeat -93px 0px}
.zhe_page.z_p_goodabout{width:235px;height:auto;overflow:hidden;float:left}
.zhe_page .z_p_goodabout .white_top_middle,.zhe_page .z_p_goodabout.white_bottom_middle{width:225px}
.zhe_page .z_p_goodabout.white_bg{width:235px;overflow:hidden}
.z_p_goodabout.z_p_goodseller{width:235px;overflow:hidden;height:auto;clear:both}
.z_p_goodabout .z_p_goodsellerp{line-height:30px;padding:0px20px}
.z_p_goodabout.z_p_goodother{margin-top:15px;width:235px;overflow:hidden;height:auto;clear:both}
.z_p_goodother.z_p_g_tit{font-size:12px;color:#000;padding:10px0px 15px 15px}
.z_p_goodother.goods_list{width:205px;overflow:hidden;margin:0pxauto 15px}
.z_p_goodother .goods_list.goods_tit{line-height:20px;height:40px;width:205px;display:block;overflow:hidden;margin-bottom:10px;font-size:12px;font-weight:normal}
.z_p_goodother .goods_list a.goods_tit:hover{color:#5E5E5E;text-decoration:underline}
.z_p_goodother .goods_list.goods_pic{width:205px;height:205px;display:block;position:relative}
.z_p_goodother .goods_list .goods_picimg{width:205px;height:205px}
.z_p_goodother .goods_list .goods_picem{width:34px;height:37px;display:block;position:absolute;top:0px;left:0px;background:url(/jky/w/img/goodslist_total.gif) no-repeat left -170px}
.z_p_goodother .goods_list.goods_price{width:205px;height:30px;line-height:30px;clear:both;overflow:hidden;color:#808080}
.z_p_goodother .goods_list .goods_price.green{font-size:16px;float:left}
.z_p_goodother .goods_list .goods_price.del{float:right;text-decoration:line-through}
.z_p_goodother .goods_list.goods_info{margin:0px0px 5px;height:20px;line-height:20px}
.z_p_goodother .goods_list .goods_infoa{text-decoration:none}
.z_p_goodother .goods_list .goods_infoimg{height:20px;width:20px;margin-right:3px;float:left}
.goods_box .time_choui{font-size:16px}
.goods_box .goods_showb{background:url("/jky/w/img/view_state_total.gif") no-repeat scroll 0px -250px transparent;display:block;height:100px;right:0;position:absolute;top:-2px;width:36px}
.goods_box .goods_show.status_two{background-position:-51px -250px}
.goods_box .goods_show.status_three{background-position:-100px -250px}
.goods_box .goods_show.status_four{background-position:-149px -250px}
.z_p_goodother .goods_list .goods_picb{background:url("/jky/w/img/zhe_state_total.gif") no-repeat scroll 0px -145px transparent;display:block;height:79px;right:0;position:absolute;top:-2px;width:29px}
.z_p_goodother .goods_list .goods_pic.status_two{background-position:-51px -145px}
.z_p_goodother .goods_list .goods_pic.status_three{background-position:-100px -145px}
.z_p_goodother .goods_list .goods_pic.status_four{background-position:-149px -145px}
.z_p_goodinfo .z_p_goodinfo_picb{background:url("/jky/w/img/zhe_state_total.gif") no-repeat scroll 0px 0px transparent;display:block;height:118px;right:0;position:absolute;top:-3px;width:44px}
.z_p_goodinfo .z_p_goodinfo_pic.status_two{background-position:-51px 0px}
.z_p_goodinfo .z_p_goodinfo_pic.status_three{background-position:-100px 0px}
.z_p_goodinfo .z_p_goodinfo_pic.status_four{background-position:-148px 0px}
.z_p_goodinfo .z_p_goodinfo_content .price_tag_chou,.z_p_goodinfo .z_p_goodinfo_content .price_tag_chouend,.z_p_goodinfo .z_p_goodinfo_content.price_tag_wait{background:url("/jky/w/img/zhe_price_tag_chou.png") no-repeat scroll 0 0px transparent}
.z_p_goodinfo .z_p_goodinfo_content .price_tag_choua{background-position:0px -435px}
.z_p_goodinfo .z_p_goodinfo_content .price_tag_chouenda{background-position:-91px -435px;cursor:default}
.z_p_gooddesc .z_p_gooddesc_sortdiv{float:right;height:23px;line-height:23px;margin-right:5px}
.z_p_gooddesc .z_p_gooddesc_sort a.chou_uname,.z_p_gooddesc .z_p_gooddesc_sorta.chou_uname_cur{float:right;font-weight:normal;font-size:12px;color:#fff;height:23px;width:121px;line-height:22px;text-align:center;background:url("/jky/w/img/view_total.gif") no-repeat scroll -184px -435px transparent}
.z_p_gooddesc .z_p_gooddesc_sorta.chou_uname_cur{background-position:-183px -462px}
.z_p_gooddesc .z_p_gooddesc_sorta.current_none{background:url("/jky/w/img/view_total.gif") no-repeat scroll -183px -47px transparent}
.z_p_gooddesc_help{border:1pxsolid #FFCCA7;background-color:#FFFEEA;width:638px;overflow:hidden;line-height:20px;padding:10px;margin-bottom:25px}
.z_p_gooddesc_uname{width:660px;overflow:hidden}
.z_p_gooddesc_uname ulli{width:640px;padding:0px10px;clear:both;line-height:40px;height:40px}
.z_p_gooddesc_uname ul licenter{color:#A5A5A5}
.z_p_gooddesc_uname ul lidiv{float:left}
.z_p_gooddesc_uname ul li.c_u{width:300px;margin-right:20px}
.z_p_gooddesc_uname ul li .c_uimg{width:20px;height:20px;float:left;margin-top:10px;margin-right:5px;overflow:hidden}
.z_p_gooddesc_uname ul li.c_z{width:70px;margin-right:200px;text-align:center}
.z_p_gooddesc_uname ul li.c_n{width:40px;float:right;text-align:center}
.z_p_gooddesc_uname ulli.c_tit{margin-bottom:15px;height:30px;border-bottom:1px dotted #ccc}
.z_p_gooddesc_uname ulli.c_now{background-color:#eee}
.z_p_gooddesc_uname ul li.c_tit .c_uspan{width:95px;height:16px;display:block;background:url("/jky/w/img/view_total.gif") no-repeat scroll -77px -556px transparent}
.z_p_gooddesc_uname ul li.c_tit .c_zspan{width:67px;height:16px;display:block;background:url("/jky/w/img/view_total.gif") no-repeat scroll -189px -556px transparent}
.z_p_gooddesc_uname ul li.c_tit .c_nspan{width:25px;height:11px;margin-left:7px;display:block;background:url("/jky/w/img/view_total.gif") no-repeat scroll -271px -556px transparent}
.z_p_gooddesc_contain.page{margin:20px20px 5px;_margin-right:10px}
.z_p_gooddesc_comment.comment{height:auto;overflow:hidden}
.z_p_gooddesc_comment .commentli{display:block;float:left;clear:both;border-bottom:1px dotted #ccc;line-height:22px;padding:10px 0px;width:100%;height:auto;overflow:hidden}
.z_p_gooddesc_comment .comment.gray_li{background:#f7f7f7}
.z_p_gooddesc_comment .commentli.c_more{text-align:right;border:none;padding-top:10px}
.z_p_gooddesc_comment .comment li.c_morea{text-decoration:underline;color:#ff6c01}
.z_p_gooddesc_comment .comment li.c_more a:hover{text-decoration:none}
.z_p_gooddesc_comment .comment li.fl{float:left;margin-left:10px;width:120px;height:22px;overflow:hidden}
.z_p_gooddesc_comment .comment li.fr{float:right;width:510px;padding-right:10px;height:auto;overflow:hidden}
.z_p_gooddesc_comment .comment li .frp{height:auto;overflow:hidden}
.z_p_gooddesc_comment .comment li .fr.date{color:#999;margin-left:10px}
.main.contant{height:auto;margin:15px0;overflow:hidden}
.content{overflow:hidden;background:#fff}
.content.content_tit{border-bottom:2px solid #F50;font-size:14px;font-weight:bold;height:28px;overflow:hidden;padding:05px}
.content .content_titspan{background-color:#F50;color:#FFF;display:block;float:left;font-size:14px;font-weight:bold;line-height:28px;overflow:hidden;padding:0 14px;width:auto}
.content.content_text{line-height:30px;overflow:hidden;padding:10px10px 0}
.content .content_texta{text-decoration:underline}
.piece{text-align:left;margin-bottom:15px;width: 1080px;overflow:hidden;}
.mains .about{height:auto;overflow:hidden;width:980px;margin-top:10px;background:url(image/new/img/left_cur.jpg) repeat-y;padding-bottom:15px;}
.piece .white_bg{padding:10px 0px;width:980px;overflow:hidden;}
.white_bg{height:auto;background-color:white;}
.white_bg{background:none;}
.mains .about .about_menu{width:167px !important;overflow:hidden;padding:5px 15px 20px 18px;min-height:800px;}
.mains .about .about_menu ul li{width:169px;margin:23px 0;}
.mains .about .about_menu ul li a{display:block;height:35px;width:169px;line-height:35px;font-size:16px;font-family:"微软雅黑","宋体";color:#727272;text-align:center;}
.mains .about .about_menu ul li .cur{color:white;background:url(image/new/img/cur_bg.jpg) no-repeat;}
.mains .about .about_contain{width:750px;overflow:hidden;background:white;padding-top:30px;padding-right:10px;}
.mains .about .about_contain .about_tit{color:#D51938;font-size:20px;font-family:"黑体";border-bottom:#ccc dashed 1px;font-weight:bold;}
.mains .about .about_contain .other{width:700px;height:25px;line-height:25px;text-align:left;padding-left:10px}
.mains .about .about_contain .other .hits{width:80px;float:left}
.mains .about .about_contain .other .author{width:140px;float:left}
.mains .about .about_contain .other .next{width:480px;float:left;text-align:right;}
.mains .about .about_contain .other .next a{color:#ccc}
.mains .about .about_contain .other .next a:hover{text-decoration:none;color:#FF0000}
.mains .about .about_contain .about_content{width:740px;height:auto;overflow:hidden;margin-top:10px;padding-bottom:20px;}
.mains .about .about_contain .about_content .about_notes li{position:relative;line-height:30px;border-bottom:#EEE dashed 1px;margin-bottom:5px;height:30px;}
.mains .about .about_contain .about_content .about_notes li em{color:#CCC;position:absolute;height:2px;width:2px;top:4px;left:0px;display:block;}
.mains .about .about_contain .about_content .about_notes li .title{margin-left:10px;display:block;float:left;width:500px;overflow:hidden;}
.mains .about .about_contain .about_content .about_notes li .title a{font-size:14px;color:#727272;}
.mains .about .about_contain .about_content .about_notes li .gary{color:#CCC;display:block;float:right;}
.mains .about .about_contain .about_content .about_notes li .gary{color:#CCC;display:block;float:right;}
